* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: gray;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
    background-image: url("../images/footer_lodyas.png");
    position: relative;
}

#pageWrapper {
	max-width: 950px;
	margin: 0 auto;
}

#content {
	max-width: 650px;
	width: 100%;
	background-color: #ffffff;
	float: left;
	margin-top: 2rem;
}

#sidebar {
	max-width: 270px;
	background-color: #ffffff;
	float: right;
	width: 100%;
	margin-top: 2rem;
}

.clear::after {
	content: "";
  	display: table;
  	clear: both;
}

/* ------ Header --------- */

#headerBackground {
	background-color: #ffffff;
	border-bottom: 4px solid rgba(124, 191, 167, 1);
}

#headerWrapper {
	max-width: 950px;
	margin: 0 auto;
	background-color: #ffffff;
}

header {
	float: left;
	background-color: rgba(165, 255, 223, 1);
	padding: 2rem 2rem;
}

nav {
	float: right;
}

nav ul li {
	float: left;
	padding: 2rem .75rem 2rem 0;
}

nav ul li::after {
	content: "|";
	padding-left: .75rem;
}

nav ul li:last-child::after {
	content: "";
}

/* ------ About Me --------------*/

#content {
	padding: 2rem;
}

#content h1 {
	color: rgba(124, 191, 167, 1);
	font-weight: bold;
	font-size: 2rem;
	border-bottom: 2px solid  gray;
}

#content div img {
	padding: 0 1rem 1rem 0;
	float: left;
}
#content div p {
	padding-top: 1rem;
}

/*---- sidebar ------- */

#sidebar {
	padding: 2rem;
}

#sidebar h1 {
	color: rgba(124, 191, 167, 1);
	font-weight: bold;
	font-size: 1.5rem;
	border-bottom: 2px solid  gray;
}

#sidebar div {
	
	padding-top: 2rem;
}

#sidebar div img {
	display: block;
	width: 33.3%;
	height:auto;
	float: left;
	padding: 0 .75rem;
}

/*------- Footer -------- */

footer {
	text-align: center;
	width: 100%;
	padding: 2rem;
	background-color: #ffffff;
	bottom: 0;
	border-top: 6px solid rgba(124, 191, 167, 1);
	margin-top: 2rem;
	

	
}

/*------Portfolio--------*/

#portfolioImageWrapper {
	padding: 2rem 0;

}

#portfolioImageWrapper div {
	height: 0;
	width: 50%;
	padding-bottom: calc(50% - 2rem);
	float: left;
	border-right: 1rem solid #ffffff;
	border-bottom: 2rem solid #ffffff;
	background-image: url("../images/placeholder.png");
	position: relative;
}

#portfolioImageWrapper div:nth-child(even) {
	border-left: 1rem solid #ffffff;
	border-right: 0 solid #ffffff;
}

#portfolioImageWrapper div p {
	background-color: rgba(165, 255, 223, 1);
	padding: 1rem 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
}

/*------------contact----------------*/

input {
	display: block;
	padding: .25rem;
	width: 100%;
}

textarea {
	width: 100%;
}

input[type=submit] {
	width: 25%;
	margin-top: 1rem;
}



